* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

body,
html {
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: #FFFFFF;
    opacity: 0.9;
}

.section__par {
    font-family: 'Ubuntu';
    font-size: 1.2rem;
    letter-spacing: 1.68px;
    margin: 0 auto;
    color: #c2c1c1;
    font-weight: 200;
    margin-top: 20px
}

.section__title {
    font-family: 'Old Standard TT', serif;
    font-weight: 300;
    font-size: 2.9rem;
    margin-top: 10vh
}

.button {
    height: 50px;
    width: 14vw;
    background-color: black;
    opacity: 0.75;
    line-height: 32px;
    text-transform: uppercase;
    letter-spacing: 1.44px;
    color: #ffffff;
    font-family: 'Ubuntu';
    position: relative;
}

.button:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border: 1px solid white;
}

.button:hover {
    cursor: pointer;
}

/* Header */
header {
    color: white;
    height: 100vh;
}

.header__image {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    filter: brightness(40%);
}

.main-nav {
    padding: 50px 60px;
    display: flex;
    justify-content: space-between;
    height: 10vh;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-family: 'Ubuntu', sans-serif;
    width: 100vw
}

.main-nav__list {
    list-style: none;
    display: flex;
    justify-content: center;
    width: 60vw
}

.main-nav__list-item {
    margin: 0 10px;
}

.main-nav__list-item:nth-of-type(5) {
    margin-left: auto
}

.main-nav__list-item:nth-of-type(5):before {
    font-family: "Font Awesome 5 Free";
    content: "\f07a";
    font-weight: 900;
    padding-right: 5px
}

.main-nav__logo {
    height: 58px;
    width: 200px
}

.header__container {
    margin: 25vh 10vw 0 10vw;
    display: inline-block;
    text-align: center;
    width: 80vw;
    height: 30vh
}

.header__title {
    font-family: 'Old Standard TT', serif;
    font-weight: 400;
    font-size: 5rem;
}


.header--arrow {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    animation: up_and_down 2s infinite ease-in-out;
}

/* Burger  */
.burger {
    position: fixed;
    top: 20px;
    right: 30px;
    z-index: 101;
    display: none
}

.burger__icon.off {
    display: none;
}

.main-nav.off {
    top: -100vh
}

/* Intro */

.intro {
    display: flex;
    width: 100vw;
}

.intro__container {
    width: 50%;
    height: 1100px;
    position: relative
}


.intro__container--text {
    width: 65%;
    height: 760px;
    float: right;
}

.intro__image--right {
    max-width: 70%;
    margin-top: 10vh;
    height: 700px;
    margin-left: 40px;
}

.intro__image--left {
    height: 550px;
    width: 918px;
    position: absolute;
    left: -150px;
    top: 640px;
    opacity: 0;
    animation-duration: 2s;
    animation-iteration-count: 1;
    z-index: -1;
}

.intro__button {
    margin-top: 20px;
}

.intro__par--right {
    width: 400px;
    margin-left: 100px;
    margin-top: 40px;
    position: relative;

}

.intro__par--right:before {
    content: '';
    position: absolute;
    width: 0;
    height: 100%;
    left: -60px;
    bottom: 0px;
    border-left: 1px solid #dadada;
}


/* Features */

.features__container--text,
.components__container--text {
    width: 70%;
    margin: 0 auto;
    text-align: center
}

.features__container--images {
    margin-top: 40px;
    display: flex;
    height: 70%;
    width: 100%;
}

/* Components */

.components__container--main {
    width: 70%;
    height: 450px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 30px
}

.components__container--main img {
    width: 100%;
    height: 25vh;
}

.components__container--single {
    flex-basis: 22%;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

.components__container--single:hover {
    opacity: 0.8;
}

.components__title {
    font-size: 1.8rem;
    margin: 0 auto;
    text-align: center
}

.components__par {
    font-size: 1.8rem;
    color: black;
    text-align: center;
    margin: 0 auto
}

.components__button {
    margin: 0 auto;
    width: 70%
}

/* Subscribe */

.subscribe {
    margin-top: 60px;
    height: 60vh;
    position: relative
}

.subscribe__container {
    height: 70%;
    width: 60vw;
    background-color: #ffffff;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around
}

.subscribe__image {
    max-height: 100%;
    height: 60vh;
    position: absolute;
    width: 100%;
    filter: brightness(40%);
    z-index: -1;
}

.subscribe__title {
    margin: 0
}

.subscribe__form {
    font-size: 0
}

.subscribe__par {
    padding: 0 10px
}

.subscribe__input {
    height: 50px;
    border-style: none;
    background-color: #e8e8e8;
    padding-left: 15px;
    width: 25vw;
}

.subscribe__button {
    margin-bottom: 20px;
}

footer {
    width: 100%;
    height: 60px;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #3c3c3c;
}

.footer__par {
    color: #ffffff;
    padding-top: 20px;
    display: inline-block;
    flex-basis: 50%;
    padding-left: 17%
}






/* Keyframes */


@keyframes up_and_down {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(15px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes fade_in_left {
    0% {
        transform: translateX(-600px);
    }

    100% {
        transform: translateX(0);
        visibility: visible;
    }
}

@media all and (max-width: 1690px) {

    .section__par {
        font-size: 1.15rem
    }

    .subscribe__container {
        height: 60%;
    }

    .components__container--main img {
        height: 20vh;
    }

    .components__container--main {
        height: 370px;
    }

}

@media all and (max-width: 1280px) {
    .section__par {
        font-size: 0.9rem
    }

    .section__title {
        font-size: 2.3rem
    }

    .components__title {
        font-size: 1.5rem;
    }

    .components__par {
        font-size: 1.2rem;
    }

    .components__container--main {
        height: 320px;
    }


    .intro__image--right {
        max-width: 70%;
        height: 500px;
    }

    .intro__par--right {
        width: 300px;
    }

    .intro__image--left {
        width: 70vw;
        height: 480px
    }

    .features__image--big {
        width: 750px;
        height: 450px;
    }
}


@media all and (max-width: 980px) {
    .section__title {
        font-size: 1.9rem
    }

    .section__par {
        font-size: 0.8rem
    }

    .burger {
        display: block
    }

    .main-nav {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        height: calc(100vh + 90px);
        background-color: rgba(0, 0, 0, 0.7);
        z-index: 100;
        transition: 0.5s;
        flex-direction: column;
    }

    .main-nav__list {
        padding: 0;
        margin-top: 40px;
        margin-left: 0;
        flex-direction: column;
        height: 80%;
        width: 100vw;
        align-items: center;
    }

    .main-nav__list-item:hover {
        background-color: rgba(0, 0, 0, 0.9);
    }

    .main-nav__list-item {
        margin-top: 0;
        margin-left: 0;
        padding: 0;
        flex-basis: 20%;
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    .main-nav__logo {
        position: fixed;
        top: 2vw;
        left: 2vw
    }

    .header__container {
        margin: 45% 10vw 0 10vw;
    }

    .button {
        height: 40px;
        font-size: 0.6rem;
        width: 16vw
    }

    .fa-times {
        color: white
    }

    .components__title {
        font-size: 1.2rem;
    }

    .intro__image--right {
        max-width: 70%;
        height: 350px;
    }

    .intro__par--right {
        width: 180px;
    }

    .intro__image--left {
        width: 70vw;
        height: 280px;
        top: 620px
    }

    .intro__container {
        width: 50%;
        height: 820px;
    }

    .components__container--main {
        width: 70%;
        height: 220px;
    }

    .components__container--main img {
        width: 100%;
        height: 10vh;
    }

    .components__title {
        font-size: 1rem;
    }

    .subscribe {
        height: 50vh;
    }

    .subscribe__container {
        height: 55%;
        top: 50%;
    }

    .subscribe__input {
        height: 40px;
        font-size: 0.6rem
    }

    .footer__par {
        font-size: 14px
    }

}

@media all and (max-width: 736px) {
    .intro {
        flex-direction: column;
    }

    .intro__container {
        width: 100%;
        height: 700px
    }

    .intro__container--text {
        width: 100%;
        height: 50%;
        text-align: center;
        padding: 0 20px
    }

    .intro__container:nth-of-type(2) {
        display: none
    }

    .intro__image--left {
        height: 50vw;
        width: 100%;
        left: 0;
        top: 65%
    }

    .header__container {
        margin: 55% 10vw 0 10vw;
    }

    .header__title {
        font-size: 7vw
    }

    .intro__button {
        width: 40vw
    }

    .components__container--main {
        width: 100%;
    }

    .components__container--single {
        flex-basis: 50%;
        width: 50%;
    }

    .section__par {
        font-size: 0.7rem
    }

    .subscribe__title {
        font-size: 1.4rem;
        margin: 0
    }

    .subscribe__par {
        font-size: 0.6rem;
        margin: 0
    }

    .subscribe__container {
        height: 50%;
        width: 75vw
    }

    .footer__par {
        font-size: 10px
    }

}


@media all and (max-width: 480px) {
    .section__title {
        margin-top: 1vh;
    }

    .button {
        font-size: 0.4rem
    }

    .header__container {
        margin: 60% 10vw 0 10vw;
    }

    .components__button {
        width: 90%
    }

    .subscribe__button {
        height: 30px;
        line-height: 30px;
    }

    .subscribe__input {
        height: 30px;
    }

    .subscribe {
        height: 70vh
    }

    .subscribe__image {
        height: 80vh
    }

    .subscribe__container {
        height: 55%;
        width: 80vw
    }

    .subscribe__input {
        width: 60%;
    }

    .subscribe__button {
        width: 30%
    }

    .subscribe__par {
        margin-top: 0;
        padding: 0
    }

    .subscribe__title {
        margin: 0;
    }

    footer {
        height: 40px;
    }

    .footer__par {
        padding-top: 10px;
        font-size: 8px
    }
}


.center {
    width: 1100px;
    margin: auto;
}

/* Required styles for the slider */
.features__slider {
    margin-top: 50px;
    margin-bottom: 50px;
}

.slider {
    position: relative;
    overflow: hidden;
    transition: 0.3s;
}

.slider ul {
    position: absolute;
}

.slider li {
    float: left;
    line-height: 0;
    text-align: center;
}

.slider li img {
    width: 100%;
}

.navigator {
    position: absolute;
    bottom: 5px;
    width: 100%;
    text-align: center;
}

.navigator span {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 3px;
    background: #606161;
    margin: 0 4px;
    transition: 0.1s;
    position: relative;
    top: 0;
}

.navigator span.active {
    background: orange;
    width: 10px;
    height: 10px;
}

.slider>span {
    position: absolute;
    top: 50%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
    padding: 6px 10px;
    margin: -10px 0 0;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

.prev {
    left: 0;
    transform: rotate(90deg);
    transform-origin: 0 0;
}

.next {
    right: -1px;
    transform: rotate(-90deg);
    transform-origin: 100% 0%;
}

.slider:hover span,
.slider:hover .autoPlay {
    transform: rotate(0deg);
}

.autoPlay {
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    transform: translateY(50px);
    transition: .3s;
}

.autoPlay label {
    background: rgba(0, 0, 0, .4);
    padding: 10px;
    display: block;
}

.autoPlay .chkbox {
    display: none;
}

.autoPlay .chkbox:checked+label {
    background: rgba(0, 0, 0, .7);
}

/* Make it adaptive to any layout */

@media (max-width: 1200px) {
    .center {
        width: 100%;
        padding: 0 15px;
    }
}